<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Panel de Administrador</h1>
    
    {{#if adminDetails}}
        <p>Nombre del administrador: {{ adminDetails.name }}</p>
    
        <!-- Otros detalles del administrador... -->
    {{else}}
        <p>No se encontraron detalles del administrador.</p>
    {{/if}}
</body>
</html>
