<!DOCTYPE html>
<html>
<head>
  <title>Error {{statusCode}}</title>
</head>
<body>
  <h1>{{message}}</h1>
  <p>{{description}}</p>
  <a href="/">Volver a la página principal</a>
</body>
</html>
