<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {{#if isNotLoggedIn}}
                    <a href="/login" class="btn btn-primary mr-2">Login</a>
                    <a href="/register" class="btn btn-secondary">Register</a>
                    {{/if}}

                    {{#if isLoggedIn}}
                    <a href="/profile" class="btn btn-success">My Profile</a>
                    {{/if}}
                </div>
            </div>
              
        </div>
    </div>
</div>
