<h1>Restablecer Contraseña</h1>
<form action="/profile/email/reset/{{token}}" method="post">
    <label for="password">Nueva Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Restablecer</button>
</form>
