<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        ¡Gracias, {{user.name}}! Tu pago ha sido procesado exitosamente.
    </div>
    <a href="/profile/" class="btn btn-primary">Home</a>
</div>
